ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(185, 180, 180);
    color: aliceblue;
}
.paddingnav {
    background-color: aliceblue;
    padding: 40px 20px;
}
.textcentreall {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 20px;
}
.texttitle {
    display: inline-block;
    color: #2d3a72;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
.container {
    padding: 2px 16px;
}
.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.btn {
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
