    body {
        background: url('https://image.shutterstock.com/image-photo/3d-wallpaper-beautiful-flower-background-600w-1385636237.jpg');
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
    }
    .header {
        background-color: yellowgreen;
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        border: black solid 1px;
    }
    .name {
        background: linear-gradient(black);
        height: 80px line-height 80px;
        color: rgb(5, 5, 5);
        padding-left: 40px;
    }
    h4 {
        text-align: right;
    }
    .para {
        border: solid black 1px;
    }
    h2 {
        text-align: left;
        color: black;
    }
    .section>div {
        border: black solid 1px;
    }
    .section>div>ul>li {
        padding: 10px;
    }