h1{
    text-align: center;
}
.btn{
    padding: 5px 15px;
    border: 0px;    
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0px;
}
.btn1{
    background-color: rgb(156, 32, 172);
}
.btn2 {
    background-color: rgb(9, 90, 128);
}
.btn3 {
    background-color: rgb(71, 99, 7);
}
p{
    text-align: center;
}
fieldset{
    border-color: rgb(232, 86, 86);
}
#mainfieldset{
    display: flex;
    justify-content: center;
    flex-flow: row;
}
#heading{
    text-align: right;
}
#image{
    float: right;
}
