h1 {
    text-align: right;
    background-color: gainsboro;
}
h2 {
    text-align: end;
    background-color: gainsboro;
}
<<<<<<< HEAD
<<<<<<< HEAD
div {
    text-align: center;
}
=======
>>>>>>> 049ddc43ef03dd11fda8c11e6b3c2e94a14b87f7
=======
>>>>>>> 38f0e06ee3f450e7401867d35dca477468bad8df
