.block1 {
    position: relative;
    text-align: right;
    background-color: steelblue;
}
.block2 {
    position: relative;
    text-align: right;
    background-color: steelblue;
}
.block3 {
    position: relative;
    text-align: right;
    background-color: steelblue;
}

