body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    background-color: white;
}
div.gallery {
    margin: 5px;
    border: 1px solid whitesmoke;
    float: left;
    width: 180px;
    image-rendering: crisp-edges;
}
div.gallery:hover {
    border: 1px solid gray;
}
div.gallery img {
    width: 100%;
    height: auto;
}
