ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
body {
    background-image: url("23.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Baloo Bhaina 2", cursive;
    margin: 0px;
    padding: 0px;
}
.login-form {
    position: relative;
    width: 516px;
    left: 365px;
    background-color: black;
    color: white;
    text-align: center;
}
.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form p {
    font-size: 20px;
    margin: 15px 0;
}
.login-form input {
    font-size: 16px;
    width: 85%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button {
    position: relative;
    background-color: white;
    color: yellow;
    width: 82px;
    left: 4px;
    font-size: 17px;
    border-radius: 10px;
}
.block8 {
    text-align: center;
}
.brand-logo {
    position: relative;
    right: 20%;
    width: 20%;
    top: 20px;
}
