* {
    margin: 0px;
    padding: 0px;
    display: flexbox;
}
.font_size_35 {
    font-size: 35px;
}
.font_size_25 {
    font-size: 25px;
}
.font_size_20 {
    font-size: 20px;
}
.italic_font {
    font-style: italic;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: 5%;
}
body .headline {
    text-align: end;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(174, 200, 243);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
body hr {
    margin-top: 40px;
}
body .form_item {
    font-weight: bold;
}
body .form_item span {
    margin-left: 40px;
}
body .form_item input {
    font-size: 20px;
}
body .form_item label,
 body .form_item input {
    margin: 9px;
}
