
*{
    padding: 0px;
    margin: 0px;
}
.first-child{
    color:purple;
}

.sec-child{
    color:blue;
}
.main-list ol ul{
 
    list-style-type:disc;

}

li{  
    padding-left: 1.3rem;
    margin-left: 1.3rem;
}