body {
    margin: 0px;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("texture9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.backg {
    display: block;
    height: 94px;
    border: 1px solid;
    background-color: rgba(255, 0, 0, 0.438);
    margin-top: 12px;   
}
.header1 {
    height: auto;
    width: auto;
    border: 1px solid;
    background-color: #cdcdcd;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    text-align: center;
}
.aboutme {
    display: flex;
    float: right;
    height: 40px;
    width: auto;
    margin-top: 39px;
    margin-right: 20px;
    align-items: center;
    font-size: 20px;
    color: #000000;
    border-radius: 5px;
    font-style: italic;
}
.info1 {
    border-style: none inset inset none;
    border-radius: 90px 1px 90px 1px;
    border-color: grey;
    margin-top: 80px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #5c1212cc;
    padding: 7px;
    margin-left: 10px;
    font-size: 14px;
}
.info2 {
    border-style: none inset inset none;
    border-radius: 90px 1px 90px 1px;
    border-color: grey;
    margin-top: 80px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #5c1212cc;
    padding: 15px;
    margin-left: 10px;
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: #ffffff;
}
