body {
    background-color: rgb(6, 45, 58);
}
.aboutme {
    border: solid;
    border: 15px 50px;
    padding: 25px;
    background-color:#ee4949;
    list-style-type:lower-latin;
}
.moreabout {
    border: solid;
    border: 15px 50px;
    padding: 25px;
    background-color:rgb(238, 73, 73);
    list-style-type: square;
    
}
