body {
    border: 1px solid black;
    background-color: cornflowerblue;
}
.bgimage {
    background-image: url("books.jpg");
}
h1 {
    background-color: darkgray;
}
h4 {
    text-align: right;
    padding: 10px;
}
.para {
    border: 1px solid black;
    padding: 20px;
    margin-right: 10px;
    color: blue;
}
a:link {
    color: red;
}
ul {
    list-style-type: square;
}
a:visited {
    color: green;
}
