.a{
    border: rgba(211, 123, 149, 0.4);
    border-style: solid;
    text-align: right;
    background-color: rgba(211, 123, 149, 0.747);
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom:3%;
}

.f1{
font-family: Arial, Helvetica, sans-serif;
}