body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(209, 179, 230);
}
#nav {
    background-color: rgb(33, 18, 48);
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#intro {
    background-color: rgb(69, 39, 97);
    color: rgb(255, 255, 255);
}
#skills {
    background-color: rgb(230, 198, 248);
}
#education {
    background-color: rgb(218, 189, 255);
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    font-size: 16px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgb(185, 135, 221);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(88, 48, 116);
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: rgb(133, 18, 214);
    font-weight: bold;
    color: lavenderblush;
    padding: 15px;
    border-radius: 120px;
    outline: none;
    border: none;
}
