Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
}
button {
    background-color: #4caf50;
    width: 20%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}
.block1 {
    background-color: yellowgreen;
    text-align: center;
    color: white;
}
.block2 {
    background-color: yellowgreen;
    text-align: center;
    color: white;
}
.block3 {
    background-color: yellowgreen;
    text-align: center;
    color: white;
}
.block4 {
    background-color: yellowgreen;
    text-align: center;
    color: white;
}
button:hover {
    opacity: 0.7;
}
.cancelbtn {
    width: auto;
    padding: 10px;
}
.block {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 516px;
    left: 365px;
    top: 80px;
    bottom: 50px;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
