.bgcolor1 {
    background-image: url("backimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right {
    text-align: right;
}
.titlet {
    font-weight: 900;
    font-size: 40px;
}
table#table1 {
    width: 100%;
}
table td {
    border: 1px solid #000000;
}
li {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 4px;
}
li {
    list-style-type: square;
    color: blue;
    font-size: 25px;
    border: 1px;
}
