body {
    padding: 0px;
    margin: 0px;
}
h1 {
    text-align: center;
}
header {
    height: 50px;
    width: auto;
    background-color: rgba(31, 102, 98, 0.7);
    display: flex;
}
header ul {
    align-self: center;
}
header ul li {
    list-style-type: none;
    float: left;
}
header ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
}
li a:hover {
    background-color: teal;
}
div img {
    height: 900px;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.container {
    display: flex;
    justify-content: center;
}
.box {
    height: 750px;
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgba(245, 235, 235, 0.7);
    justify-self: center;
}
.input {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}
.th {
    margin: 130px;
    padding: 10px;
}
