body {
    padding: 0px;
    margin: 0px;
}
h1 {
    text-align: center;
}
header {
    height: 50px;
    width: auto;
    background-color: rgba(31, 102, 98, 0.7);
    display: flex;
}
header ul {
    align-self: center;
}
header ul li {
    list-style-type: none;
    float: left;
}
header ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
}
li a:hover {
    background-color: teal;
}
.center {
    display: flex;
    justify-content: center;
}
div img {
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.log {
    height: 300px;
    width: 500px;
    background-color: rgba(245, 250, 250, 0.7);
    border-radius: 10px;
    justify-self: center;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(90, 91, 94, 0.7);
    transition: 0.3s;
}
.log label {
    padding: 5px;
    margin: 5px;
    align-self: center;
}
.log input {
    align-self: center;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
}
