body{
    text-align: center;
}
div{
    height: 350px;
    width: 400px;
    display: flex;
    flex-flow: column;
    background-color: rgb(119, 133, 165);
    box-shadow: 5px -8px 10px 5px rgb(201, 173, 173);
    border-radius: 20px;
    padding: 40px;
    margin: 20px 570px;
    margin-top: 50px;
    margin-left: 600px;
}
h1{
    color: black;
}
input{
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    border-color: burlywood;
    margin-top: 20px;
}
button{
    background-image: linear-gradient(rgb(160, 98, 130), rgb(160, 98, 130));
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
}
h2{
    display: block;
}
