body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgb(58, 197, 197);
    text-align: right;
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

h2 {
    background-color: rgb(58, 197, 197);
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

label {
    font-weight: bold;
}