body {
    font-family: verdana;
    background-image: url("Images/1..jpg");
    background-size: cover;
}
p {
    background-color:tan;
    text-align: center;
    font-size: 28px;
    height: 60px;
    width: 100%;
}
.nav-link {
    color:white;
}
.nav-link:hover {
    color: red;
    font-weight: bold;
}
.nav-item:hover {
    background-color: white;
}