h1 {
    background-color: rgb(119, 158, 230);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    border:solid;
   border-color:rgb(220, 20, 170);
}
h2 {
    background-color: rgb(119, 158, 230);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
     border:solid;
   border-color: rgb(220, 20, 170);
}
form1 {
    font-family: Arial, Helvetica, sans-serif;
}
