.name {
    position: absolute;
    width: 269px;
    height: 41px;
    left: 0px;
    top: 16px;
}
.allert {
    position: absolute;
    width: 441px;
    height: 49px;
    left: 943px;
    top: 8px;
}
li {
    display: inline;
}
.background {
    position: absolute;
    width: 1440px;
    height: 152px;
    left: 0px;
    top: 90px;
}
.inner {
    position: absolute;
    width: 1082px;
    height: 53px;
    left: 137px;
    top: 125px;
}
input[type="text"] {
    width: 30%;
    margin: 8px 0;
    padding: 8px 20px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
}
.inpu,
input[type="text"] {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
}
.job {
    position: absolute;
    width: 123px;
    height: 53px;
    left: 800px;
    top: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.item {
    position: absolute;
    width: 847px;
    height: 125px;
    left: 42px;
    top: 275px;
}
.display {
    position: absolute;
    width: 435px;
    height: 227px;
    left: 922px;
    top: 275px;
}
h1 {
    position: absolute;
    width: 396px;
    height: 41px;
    left: 70px;
    top: 426px;
}
.jobs-list1 {
    position: absolute;
    width: 906px;
    height: 91px;
    left: 0px;
    top: 489px;
}
.jobs-list2 {
    position: absolute;
    width: 906px;
    height: 91px;
    left: 0px;
    top: 589px;
}
.state {
    position: absolute;
    width: 435px;
    height: 296px;
    left: 922px;
    top: 513px;
}
