.code1 {
    background-color: rgb(26, 140, 155);
    border-radius: 0px 10px 0px 10px;
    position: relative;
    text-align: right;
}
.a {
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    position: relative;
    left: 600px;
}
div.s,
div.m,
div.k,
div.c {
    margin-top: 30px;
}
.code2 {
    margin-right: 128px;
}
.code3 {
    margin-right: 15%;
}
.code4 {
    margin-right: 114px;
}
.code5 {
    margin-right: 35px;
}
.code6 {
    margin-right: 118px;
}
.code7 {
    margin-right: 65px;
}
.code8 {
    margin-right: 55px;
}
